# Importing the Data

Here, I'm importing the data as a csv file from my laptop.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv(r"C:\Users\rajay\SIG-sustainability-group\nyc-drinking-water-dataset\drinking-water-quality-distribution-monitoring-data.csv", low_memory=False)

df.head()

,Sample Number,Sample Date,Sample Time,Sample Site,Sample class,Location,Residual Free Chlorine (mg/L),Turbidity (NTU),Fluoride (mg/L),Coliform (Quanti-Tray) (MPN /100mL),E.coli(Quanti-Tray) (MPN/100mL)
0,32355.0,2019-10-31T00:00:00.000,8:23,24950,Compliance,"SS - IFO 1169 N/S East New York Ave, 2nd SS W/...",0.42,0.61,NaN,<1,<1
1,32320.0,2019-10-31T00:00:00.000,11:14,13550,Compliance,"SS - IFO 2015 W/S University Ave, 1st SS S/O W...",0.45,0.59,NaN,<1,<1
2,32357.0,2019-10-31T00:00:00.000,11:33,50200,Operational,"SS - IFO 93 N/S Austin Place, BTW Victory Blvd...",0.74,0.63,NaN,<1,<1
3,32353.0,2019-10-31T00:00:00.000,7:47,24650,Compliance,"SS - N/S Linden Blvd, 1st SS E/O Bristol St, 12 """,0.43,0.68,NaN,1,<1
4,32371.0,2019-10-31T00:00:00.000,9:32,17050,Compliance,"SS - IFO 4740 E/S White Plains Rd, 1st SS N/O ...",0.51,0.55,NaN,<1,<1

In [9]:
df['location']

0        SS - IFO 1169 N/S East New York Ave, 2nd SS W/...
1        SS - IFO 2015 W/S University Ave, 1st SS S/O W...
2        SS - IFO 93 N/S Austin Place, BTW Victory Blvd...
3        SS - N/S Linden Blvd, 1st SS E/O Bristol St, 12 "
4        SS - IFO 4740 E/S White Plains Rd, 1st SS N/O ...
                               ...
72704    SS - IFO 1058 S/S E Gun Hill Rd, 1st SS E/O Ho...
72705    SS - IFO 1778 E/S Jerome Ave, 1st SS S/O E 176...
72706    SS - IFO 2499 W/S Grand Ave, 1st SS S/O W 190t...
72707    SS - IFO 309 N/S E 149th St, 2nd SS W/O Courtl...
72708    SS - IFO 177 S/S Sands St, btw Gold & Bridge S...
Name: location, Length: 72709, dtype: object

# Doing some Data Exploration

I will figure out the inputs, outputs, and what we can pass in as features.

### First, I will rename the column names so that they're easy to type.

In [2]:
df.columns = ['sample_number', 'sample_date', 'sample_time', 'sample_site', 'sample_class', 
              'location', 'residual_free_chlorine', 'turbidity', 'fluoride', 'coliform', 'e.coli']

### Next, I will do some general explanation for the dataset.

In [3]:
len(df)

72709

In [4]:
df.columns

Index(['sample_number', 'sample_date', 'sample_time', 'sample_site',
       'sample_class', 'location', 'residual_free_chlorine', 'turbidity',
       'fluoride', 'coliform', 'e.coli'],
      dtype='object')

In [5]:
df.tail()

,sample_number,sample_date,sample_time,sample_site,sample_class,location,residual_free_chlorine,turbidity,fluoride,coliform,e.coli
72704,NaN,2015-01-01T00:00:00.000,09:38,11550,Compliance,"SS - IFO 1058 S/S E Gun Hill Rd, 1st SS E/O Ho...",0.74,0.95,NaN,<1,<1
72705,NaN,2015-01-01T00:00:00.000,08:41,13850,Compliance,"SS - IFO 1778 E/S Jerome Ave, 1st SS S/O E 176...",0.59,1.08,NaN,<1,<1
72706,NaN,2015-01-01T00:00:00.000,09:07,15550,Compliance,"SS - IFO 2499 W/S Grand Ave, 1st SS S/O W 190t...",0.54,0.90,NaN,<1,<1
72707,NaN,2015-01-01T00:00:00.000,11:16,17550,Compliance,"SS - IFO 309 N/S E 149th St, 2nd SS W/O Courtl...",0.56,1.00,NaN,<1,<1
72708,NaN,2015-01-01T00:00:00.000,07:41,20900,Operational,"SS - IFO 177 S/S Sands St, btw Gold & Bridge S...",0.54,0.92,NaN,<1,<1

Here, the sample numbers are NaN. I'll now find out how many of the sample numbers are NaN.

In [6]:
len(df[df['sample_number'].isnull()])

8864

In [7]:
percentage = (len(df[df['sample_number'].isnull()])/len(df)) * 100
percentage = round(percentage, 2)

print('Percentage of NaN sample numbers:', percentage)

Percentage of NaN sample numbers: 12.19

This might mean I have to get rid of 12% of the data. Now, we can find out how much data would be left over.

In [8]:
leftover = len(df) - len(df[df['sample_number'].isnull()])

print('Amount of leftover data:', leftover, 'rows')

Amount of leftover data: 63845 rows

# Possible Tasks

### Predicting the chlorine and turbidity

If we were to predict the chlorine and turbidity, the following would be the features & labels.

1. **Features:** `sample_time`, `sample_site`, `sample_class`, `location`
2. **Labels:** `residual_chlorine`, `residual_turbidity`

**Benefits:** We have plenty of data for this task (64k rows). We can definitely use some simple linear regression models before moving on to other complicated models.

**Challenges:** This would be difficult because all we have is the time, site, class, and location. We would need to figure out a way to represent location and the time. We also wouldn't have too many features, because we would be predicted one or two things based on just 4 features.

**Things to do if we choose this:** We need to do some research on chlorine and turbidity - understand what they are, what they mean, etc.